# LinkedIn Companies Data Analysis

This notebook loads and displays the scraped company data from `companies-optimized.json`

In [1]:
import pandas as pd
import json

In [2]:
# Load the JSON data
with open('scraped-data/companies-optimized.json', 'r') as f:
    data = json.load(f)

# Convert to DataFrame
df = pd.DataFrame(data)

print(f"Total companies: {len(df)}")
df.head()

Total companies: 963

,companyId,name,universalName,tagline,description,website,phone,email,industry,companySize,...,companyType,founded,headquarters,locations,linkedinUrl,followerCount,specialties,logoUrl,coverImageUrl,scrapedAt
0,tech-grid-asia,Tech Grid Asia,tech-grid-asia,Partnering you with Technologies,,http://www.techgrid.co/,,,IT Services and IT Consulting,11-50,...,,2013,,[],https://www.linkedin.com/company/tech-grid-asia/,0,"[Software Solution, Bespoke Technology, Tech R...",,,2025-10-02T06:51:11.675Z
1,tech-curve-ai-innovations,Tech Curve AI & Innovations,tech-curve-ai-innovations,Empowered By Innovations!!!,,http://techcurve.co/,+6622586228,information@techcurve.co,Software Development,11-50,...,,2018,"Khlong Toei Nuea, Bangkok City",[],https://www.linkedin.com/company/tech-curve-ai...,0,"[Seeq, Canary, data historian, Magic Wand, Gen...",,,2025-10-02T06:51:12.347Z
2,ai-and-robotics-ventures,AI and Robotics Ventures,ai-and-robotics-ventures,AI and Robotics Partner of Choice,,http://www.arv.co.th/,+6620784000,10400CONTACT@ARV.CO.THSUBSCRIBESign,Industrial Automation,201-500,...,,2018,"Phaya Thai, Bangkok",[],https://www.linkedin.com/company/ai-and-roboti...,0,[],,,2025-10-02T06:51:36.355Z
3,tech-titan,Tech Titan Group,tech-titan,Leading Distributor of Cybersecurity Solution ...,,http://www.tech-titan.com/,+603 2298 0399,,Computer and Network Security,201-500,...,,2008,"KL Eco City, Kuala Lumpur",[],https://www.linkedin.com/company/tech-titan/,0,"[IT Distribution, Cybersecurity Solution, Prof...",,,2025-10-02T06:51:36.702Z
4,ai-gen,AI GEN,ai-gen,Think AI Think AI GEN,,https://aigencorp.com/,+66 2 8216686,contact@aigencorp.com,IT Services and IT Consulting,11-50,...,,2019,"Bangkok, Bangkok City",[],https://www.linkedin.com/company/ai-gen/,0,[],,,2025-10-02T06:51:59.757Z

In [3]:
# Display DataFrame info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   companyId      963 non-null    object
 1   name           963 non-null    object
 2   universalName  963 non-null    object
 3   tagline        963 non-null    object
 4   description    963 non-null    object
 5   website        963 non-null    object
 6   phone          963 non-null    object
 7   email          963 non-null    object
 8   industry       963 non-null    object
 9   companySize    963 non-null    object
 10  employeeCount  959 non-null    float64
 11  companyType    963 non-null    object
 12  founded        963 non-null    object
 13  headquarters   963 non-null    object
 14  locations      963 non-null    object
 15  linkedinUrl    963 non-null    object
 16  followerCount  963 non-null    int64
 17  specialties    963 non-null    object
 18  logoUrl        963 non-null    object
 19  coverImageUrl  963 non-null    object
 20  scrapedAt      963 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 158.1+ KB

In [4]:
# Display basic statistics
df.describe()

       employeeCount  followerCount
count     959.000000          963.0
mean      151.216893            0.0
std       222.992264            0.0
min         6.000000            0.0
25%        30.000000            0.0
50%       125.000000            0.0
75%       125.000000            0.0
max      3000.000000            0.0

In [7]:
# Count non-null phone and email
phone_count = df['phone'].apply(lambda x: x.strip() != '').sum()
email_count = df['email'].apply(lambda x: x.strip() != '').sum()
web_count = df['website'].apply(lambda x: x.strip() != '').sum()

print(f"Companies with phone number: {phone_count}")
print(f"Companies with email: {email_count}")
print(f"Companies with website: {web_count}")
print(f"\nTotal companies: {len(df)}")

Companies with phone number: 407
Companies with email: 362
Companies with website: 963

Total companies: 963